body{
margin: 0;
padding: 0;
}


//MQ
@mixin mq($smallerValue,$biggerValue) {
  @media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
    @content;
  }
}

$fontcolor:#ffffff;
$hovercolor:#ff9019;

