body{
margin: 0;
padding: 0;
}

.wrapper{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0);
}

//MQ
@mixin mq($smallerValue,$biggerValue) {
  @media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
    @content;
  }
}

//variables
$fontcolor:#ffffff;//
$hovercolor:#ff9019;// cor dos btn e hover do nav
$bordercolor:#dee0e2;

//BTN

.btnLink{
  position: relative;
  height: 58px;
  width: 292px;
  background-color: $hovercolor;
  font-family: Oswald;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size:18px;
  padding: 21px 0 21px 0;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, 0);
  color: $fontcolor;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  

    &:hover{
      background-color: $fontcolor;
      color: $hovercolor;
      border: 0.5px solid $bordercolor;
    }

}