footer {
  height: 420px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("/asphalt-dark-dawn-endless-531321.jpg");
  background-position: center 80%;
  background-size: cover;
  .wrapper {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding-top: 130px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    left: 0;
    transform: translate(0, 0);

    .footerDiv {
      h6 {
        margin-bottom: 40px;
        font-family: "Ubuntu";
        font-weight: bold;
        color: $fontcolor;
        text-transform: uppercase;
      }
      ul {
        li {
          margin-bottom: 15px;
          color: $fontcolor;


          a {
            text-decoration: none;
            color: $fontcolor;
            transition: color linear 0.5s;
            &:hover{
            color: $hovercolor;
            }
          }
        }
      }
    }
  }
}

.socialIcons{
display: flex;
justify-content: space-between;
width: 150px;
  
a{

img{
    width: 40px;
    height: 40px;
    border: solid 1px white;
    border-radius: 9px;
    transition: linear 0.3s;
    &:hover{
      box-shadow: 0px 0px 10px $hovercolor;



    }
  }

}
}