header {
  .containerInfo {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 40px;
    z-index: 200;
    .logo {
      position: relative;
      float: left;
      display: inline;
    }

    .nav {
      float: right;

      ul {
        display: inline;

        li {
          display: inline;
          margin-right: 30px;

          a {
            font-size: 16px;
            color: $fontcolor;
            text-decoration: none;
            font-family: Oswald;
            transition: color linear 0.5s;
            text-shadow: 1px 1px 4px #000000;
            &:hover {
              color: $hovercolor;
            }
          }
        }
      }
    }
  }
}

.swiper-container {
  display: block;
  height: 100%;
  width: 100%;
  div {
    // overflow: hidden;
    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
    h2 {
      width: 50%;
      position:absolute;
      z-index: 200;
      color: $fontcolor;
      text-transform: uppercase;
      font-size: 75px;
      font-family: Barlow;
      line-height: 100px;
      bottom: 50%;
      left: 20%;
      text-shadow: 2px 2px 12px #000000;
    }
    a {
      position:absolute;
      z-index: 200;
      bottom:25%;
      left: 20%;
      text-shadow: 1px 1px 2px #000000;
      img {
        width: 50px;
        height: 50px;
      }
      span{
        position: relative;
        bottom: 17px;
        left: 8px;
      }
      color: $fontcolor;
      text-transform: uppercase;
      font-size: 20px;
      font-family: Barlow;
      line-height: 24px;
      text-decoration: none;
    }
  }
}

/* custmm bullets style */
.swiper-pagination-bullet {
  width: 20%;
  height: 80px;
  text-align: left;
  padding-left: 20px;
  line-height: 30px;
  font-size: 20px;
  border-radius: 0;
  border-left: 1px solid $fontcolor;
  margin: 0;
  font-family: Barlow;
  font-weight: 100;
  color: $fontcolor;
  transition: linear 0.5s;
  text-shadow: 1px 1px 4px #000000;
  &:hover {
    span {
      color: $hovercolor;
    }
  }

  span {
    font-size: 20px;
    color: $fontcolor;
    text-transform: uppercase;
    font-family: Barlow;
    transition: linear 0.5s;
  }
  div {
    color: $fontcolor;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Barlow;
    line-height: 24px;
  }
}
.swiper-pagination-bullet-active {
  color: $fontcolor;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

.sliderText {
  z-index: 300;
  position: absolute;
  width: 60%;
  height: 50%;
  right: 0;
  h2 {
    color: $fontcolor;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Barlow;
    line-height: 24px;
  }
  a {
    img {
      width: 50px;
      height: 50px;
    }
    color: $fontcolor;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Barlow;
    line-height: 24px;
  }
}
